.contact-container {
	margin-top: 5.5vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	width: max(60vw, 768px);
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.contact-container > .info {
	position: relative;
	top: -3vw;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
	max-width: 26vw;
}

.break-word {
	word-wrap: normal;
}

.thin {
	padding: 8px !important;
	font-size: 18px !important;
	margin-bottom: 8px !important;
}

.form {
	position: relative;
	margin-top: 25px;
	background-color: var(--background-d);
	border-radius: 15px;
	padding: 16px;
	padding-top: 4%;
	padding-bottom: 0;
	max-width: 29vw;
}

.form > div {
	margin-bottom: 12px;
}
.form > div > input,
.form > div > textarea {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 12px;
	border: none;
	border-radius: 5px;
	background-color: var(--background-l);
	outline: none;
	font-size: 20px;

	color: white;

	font-family: "Ubuntu", sans-serif;
}
.field-error {
	animation: fade-in 100ms linear;
	max-width: 92%;
	text-align: end;
	font-size: 13px;
	margin-left: auto;
	position: relative;
	right: 20px;
	top: -0.5vw;
	color: tomato;
}

/* Email info */
.email-info {
	display: flex;
	flex-direction: column;
}

/* Personal Info */
.personal-info {
	display: flex;
	justify-content: space-around;
}
.personal-info > input {
	max-width: 140px;
}

/* Question info */
.question-info {
	display: flex;
	flex-direction: column;
}
.question-info > textarea {
	resize: none;
	max-height: 35vh;
	min-height: 4em;
    height: 4em;
    overflow-y: auto !important;
}

/* Success element */
.submit-success {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.submit-success > div {
	font-size: 6vh;
	margin-bottom: 80px;
	animation: slide-up 1100ms cubic-bezier(0.77, 0, 0.175, 1);
	animation-fill-mode: forwards;
}
.blur {
	filter: blur(7px) brightness(50%);
}

/* Footer */
.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.footer > .submit-button {
	cursor: pointer;
	padding: 9px;
	margin: 14px;
	margin-top: 0;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	width: 150px;
	color: white;
	background: var(--gradient);
}
.footer > .submit-button:hover {
	transition: box-shadow 50ms linear;
	box-shadow: 0 0 5px 0 var(--gradient-average);
}
.footer > .submit-button:active {
	transform: translateY(1px);
}

@media only screen and (max-width: 510px) {
	.submit-success > div {
		font-size: 14vw;
		margin-bottom: 80px;
	}
	.contact-container {
		flex-flow: column;
		margin-left: 0;
		text-align: center;
	}
	.contact-container > * {
		padding-left: 2vw;
		padding-right: 2vw;
	}
	.contact-container > .info {
		position: unset;

		padding: 0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5vw;
		width: 100%;
		max-width: 100%;
		word-wrap: break-word;
	}
	.info > .header {
		margin-bottom: 8vw !important;
	}
	.form {
		max-width: 100%;
	}
	.personal-info > input {
		width: 37%;
	}

	.footer > .submit-button {
		width: 100%;
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(25px) scale(0.95);
    }
	40% {
		opacity: 1;
		transform: none;
	}
	80% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translateY(-25px) scale(0.95);
	}
}
